/* CSS Document
	Reset browser default styles
	All
	Header
		Top menu
	Welcome block
	Concept about
	Offer quote
	Contact block
	Media Queries
*/

@font-face {font-family: 'Red Hat Display';src: url('/assets/fonts/RedHatDisplay-Medium.eot');src: url('/assets/fonts/RedHatDisplay-Medium.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/RedHatDisplay-Medium.woff2') format('woff2'),url('/assets/fonts/RedHatDisplay-Medium.woff') format('woff'),url('/assets/fonts/RedHatDisplay-Medium.ttf') format('truetype'),url('/assets/fonts/RedHatDisplay-Medium.svg#RedHatDisplay-Medium') format('svg');font-weight: 500;font-style: normal;font-display: swap;}
@font-face {font-family: 'Red Hat Display';src: url('/assets/fonts/RedHatDisplay-Black.eot');src: url('/assets/fonts/RedHatDisplay-Black.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/RedHatDisplay-Black.woff2') format('woff2'),url('/assets/fonts/RedHatDisplay-Black.woff') format('woff'),url('/assets/fonts/RedHatDisplay-Black.ttf') format('truetype'),url('/assets/fonts/RedHatDisplay-Black.svg#RedHatDisplay-Black') format('svg');font-weight: 900;font-style: normal;font-display: swap;}
@font-face {font-family: 'Red Hat Display';src: url('/assets/fonts/RedHatDisplay-SemiBold.eot');src: url('/assets/fonts/RedHatDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/RedHatDisplay-SemiBold.woff2') format('woff2'),url('/assets/fonts/RedHatDisplay-SemiBold.woff') format('woff'),url('/assets/fonts/RedHatDisplay-SemiBold.ttf') format('truetype'),url('/assets/fonts/RedHatDisplay-SemiBold.svg#RedHatDisplay-SemiBold') format('svg');font-weight: 600;font-style: normal;font-display: swap;}
@font-face {font-family: 'Work Sans';src: url('/assets/fonts/WorkSans-Bold.eot');src: url('/assets/fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/WorkSans-Bold.woff2') format('woff2'),url('/assets/fonts/WorkSans-Bold.woff') format('woff'),url('/assets/fonts/WorkSans-Bold.ttf') format('truetype'),url('/assets/fonts/WorkSans-Bold.svg#WorkSans-Bold') format('svg');font-weight: 700;font-style: normal;font-display: swap;}
@font-face {font-family: 'Work Sans';src: url('/assets/fonts/WorkSans-Medium.eot');src: url('/assets/fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/WorkSans-Medium.woff2') format('woff2'),url('/assets/fonts/WorkSans-Medium.woff') format('woff'),url('/assets/fonts/WorkSans-Medium.ttf') format('truetype'),url('/assets/fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');font-weight: 500;font-style: normal;font-display: swap;}
@font-face {font-family: 'Work Sans';src: url('/assets/fonts/WorkSans-SemiBold.eot');src: url('/assets/fonts/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),url('/assets/fonts/WorkSans-SemiBold.woff') format('woff'),url('/assets/fonts/WorkSans-SemiBold.ttf') format('truetype'),url('/assets/fonts/WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');font-weight: 600;font-style: normal;font-display: swap;}
@font-face {font-family: 'Work Sans';src: url('/assets/fonts/WorkSans-Regular.eot');src: url('/assets/fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/WorkSans-Regular.woff2') format('woff2'), url('/assets/fonts/WorkSans-Regular.woff') format('woff'), url('/assets/fonts/WorkSans-Regular.ttf') format('truetype'),url('/assets/fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'Work Sans';src: url('/assets/fonts/WorkSans-Italic.eot');src: url('/assets/fonts/WorkSans-Italic.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/WorkSans-Italic.woff2') format('woff2'),url('/assets/fonts/WorkSans-Italic.woff') format('woff'), url('/assets/fonts/WorkSans-Italic.ttf') format('truetype'), url('/assets/fonts/WorkSans-Italic.svg#WorkSans-Italic') format('svg');font-weight: normal;font-style: italic;font-display: swap;}



/* Reset browser default styles */
html, body {min-height:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;}
html {font:18px/29px 'Work Sans', sans-serif;}
body {color:#000;background:#fff;}
div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dt, dd, dl {margin:0;padding:0;}
header, section, footer, aside, nav, article, figure, figcaption {display:block;}
table {border-collapse:collapse;}
img {border:none;max-width:100%;height:auto;}
iframe, object, embed {max-width:100%;}
ul, li {list-style:none;}
input {vertical-align:middle;}
input:focus, textarea:focus {outline:none;}
button, input[type="submit"] {cursor:pointer;-webkit-appearance:none;}
a, a:visited {text-decoration:none;color:#4e88aa;transition:color ease-in-out .2s;}
a:active, a:hover {outline:0;text-decoration:none;color:#4e88aa;}



/* Flickity */
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-button{position:absolute;background:hsla(0,0%,100%,.75);border:none;color:#333}.flickity-button:hover{background:#fff;cursor:pointer}.flickity-button:focus{outline:0;box-shadow:0 0 0 5px #19f}.flickity-button:active{opacity:.6}.flickity-button:disabled{opacity:.3;cursor:auto;pointer-events:none}.flickity-button-icon{fill:currentColor}.flickity-prev-next-button{top:50%;width:44px;height:44px;border-radius:50%;transform:translateY(-50%)}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button .flickity-button-icon{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{opacity:1}
.flickity-enabled.is-fade .flickity-slider > *{pointer-events:none;z-index:0}.flickity-enabled.is-fade .flickity-slider > .is-selected{pointer-events:auto;z-index:1}



/* All */
.wrapper {max-width:1200px;padding:0 20px;box-sizing:border-box;margin:0 auto;position:relative;}
h1 {font:900 84px/84px 'Red Hat Display';text-transform:uppercase;padding-bottom:30px;}
h2 {font:900 72px/72px 'Red Hat Display';text-transform:uppercase;padding-bottom:40px;}
h3 {font:700 36px 'Work Sans';padding-bottom:20px;}
h4 {font:italic 600 24px/32px 'Red Hat Display';padding-bottom:40px;}
h5 {font:500 20px/32px 'Work Sans';padding-bottom:20px;}
p {padding-bottom:20px;}

input[type="text"], input[type="email"], textarea, select {font:18px 'Work Sans', sans-serif;background:#fff;color:#121619;border:2px solid #DDE1E6;border-radius:0;padding:0 10px;height:50px;width:100%;box-sizing:border-box;}
textarea {height:140px;padding:10px;}

.button, .button:visited {color:#fff;background:#D80E27;padding:5px 10px;height:50px;min-width:240px;font:600 20px 'Work Sans';border:none;border-radius:0;text-align:center;display:inline-flex;align-items:center;justify-content:center;vertical-align:middle;box-sizing:border-box;transition:background-color ease-in-out .2s, color ease-in-out .2s;}
.button:hover {color:#fff;background:#121619;}



.header {
    background-color: #000;
    margin-bottom: 40px;
    padding: 25px 0 20px 0;
    width: 100%;
}
.template-home .header {
    background-color: transparent;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    transition: background ease-in-out .2s;
    z-index: 900;
}
.template-home .header.bg {
    background: #000;
}
.header .wrapper {display:flex;align-items:center;justify-content:space-between;}
.header .logo {width:45px;height:72px;background:url(/assets/images/logo.svg) center center/100% auto no-repeat;font-size:0;line-height:0;z-index:999;position:relative;}
/* Top menu */
.menu_trigger {position:absolute;top:15px;right:20px;width:30px;height:20px;z-index:999;transform:rotate(0deg);transition:all ease-in-out 0.5s;cursor:pointer;display:none;}
.menu_trigger span {display:block;position:absolute;height:2px;width:100%;background:#fff;opacity:1;left:0;transition:all ease-in-out 0.25s;}
.menu_trigger span:nth-child(1) {top:0px;}
.menu_trigger span:nth-child(2), .menu_trigger span:nth-child(3) {top:9px;}
.menu_trigger span:nth-child(4) {top:18px;}
.menu_trigger.active span:nth-child(1), .menu_trigger.active span:nth-child(4) {transform:scale(0, 0);}
.menu_trigger.active span:nth-child(2) {transform:rotate(45deg);}
.menu_trigger.active span:nth-child(3) {transform:rotate(-45deg);}
.header nav ul {display:flex;flex-wrap:wrap;}
.header nav ul li {font:500 15px 'Red Hat Display';text-transform:uppercase;padding-left:40px;}
.header_button {
    background-color: transparent;
    border: 0;
    color: #fff;
    font: inherit;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.header nav .social_list {display:none;}



/* Welcome block */
.welcome_block {
    background-color: #121619;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.welcome_block .wrapper {
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    min-height:720px;
    z-index: 50;
}

.welcome_background {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center top;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 0;
}



/* Concept about */
.concept_about {color:#DDE1E6;background:#121619;padding:120px 0 30px 0;}
.concept_about h2, .concept_about h3 {color:#fff;}
.concept_about .wrapper {display:flex;justify-content:space-between;}
.concept_about .wrapper > div:first-of-type {width:36.5%;padding:0 0 30px 100px;}
.concept_about .wrapper > div:last-of-type {width:45%;padding-bottom:120px;}
.concept_about .wrapper > div:last-of-type h2 {padding-top:50px;}
.concept_about ul {counter-reset:concept-counter;}
.concept_about ul li {padding-bottom:30px;counter-increment:concept-counter;position:relative;}
.concept_about ul li * {position:relative;}
.concept_about ul li:before {content:"0" counter(concept-counter);font:900 84px/84px 'Red Hat Display';letter-spacing:4px;position:absolute;top:-20px;left:-58px;color:#121619;text-stroke:2px #D80E27;-webkit-text-stroke:2px #D80E27;opacity:0.6;}
.concept_about h4 {max-width:420px;}
.concept_about .img {position:relative;font-size:0;line-height:0;height:590px;}
.concept_about .img:before {content:'';position:absolute;bottom:-32px;right:-42px;display:block;height:199px;width:124px;background:url(/assets/images/icons/logo_stroke.svg) no-repeat;}
.concept_about .img img {width:100%;height:100%;object-fit:cover;}
.concept_about .main-description {font: 500 20px/32px 'Work Sans'; padding-bottom: 20px;}



/* Offer quote */
.offer_quote {padding:120px 0 130px 0;}
.offer_quote .wrapper:nth-child(2) {max-width:1000px;}
.offer_quote blockquote {padding:0 0 0 100px;background:url(/assets/images/icons/quote.svg) no-repeat;}
.offer_quote blockquote p:not(:last-child) {font-size:24px;line-height:38px;font-style:italic;padding-bottom:30px;}
.offer_list {border-top:1px solid #C1C7CD;margin:20px 0 140px 0;}
.offer_list > li {display:flex;justify-content:space-between;border-bottom:1px solid #C1C7CD;padding:40px 0;}
.offer_list > li h3 {width:53%;padding-right:50px;box-sizing:border-box;}
.offer_list > li ul {width:33%;}
.offer_list > li ul li {padding:0 0 4px 25px;background:url(/assets/images/icons/check.svg) left 8px no-repeat;}
.offer_list > li p {text-align:right;width:14%;font-size:15px;}
.offer_list > li p span {display:block;font:900 32px/32px 'Red Hat Display';}
.offer_list > li p strong {display:block;font-size:20px;font-weight:600;}

.flickity-carousel {
    --flickity-carousel-caption-margin-left: 0px;
    --flickity-carousel-caption-margin-top: 50px;
    --flickity-carousel-image-height: 335px;
    --flickity-carousel-image-width: 100%;
    margin-bottom: 180px;
}

@media (min-width: 768px) {
    .flickity-carousel {
        --flickity-carousel-caption-margin-left: 20px;
        --flickity-carousel-caption-margin-top: 20px;
        --flickity-carousel-image-height: 300px;
        --flickity-carousel-image-width: 300px;
    }
}

@media (min-width: 992px) {
    .flickity-carousel {
        --flickity-carousel-caption-margin-left: 80px;
        --flickity-carousel-caption-margin-top: 35px;
        --flickity-carousel-image-height: 420px;
        --flickity-carousel-image-width: 420px;
    }
}

@media (min-width: 992px) {
    .flickity-carousel {
        --flickity-carousel-caption-margin-left: 120px;
    }
}

.flickity-viewport {
    overflow: visible;
    transition: height 0.2s;
}

.flickity-slide-figure {
    display: grid;
}

@media (min-width: 768px) {
    .flickity-slide-figure {
        grid-auto-flow: column;
    }
}

.flickity-slide-image {
    height: var(--flickity-carousel-image-height);
    width: var(--flickity-carousel-image-width);
}

.flickity-slide-image > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.flickity-slide-caption {
    margin-left: var(--flickity-carousel-caption-margin-left);
    margin-top: var(--flickity-carousel-caption-margin-top);
}

.flickity-slide-caption h2 {
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 30px;
}

@media (min-width: 992px) {
    .flickity-slide-caption h2 {
        font-size: 50px;
    }
}

@media (min-width: 1024px) {
    .flickity-slide-caption h2 {
        font-size: 72px;
        padding-bottom: 40px;
    }
}

.flickity-slide-caption > :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.flickity-page-dots {
    bottom: -45px;
    column-gap: 10px;
    display: flex;
}

@media (min-width: 768px) {
    .flickity-page-dots {
        left: calc(var(--flickity-carousel-image-width) + var(--flickity-carousel-caption-margin-left));
        width: auto;
    }
}

.flickity-page-dots .dot {
    background-color: transparent;
    border-radius: unset;
    border: 0;
    display: grid;
    height: 40px;
    margin: 0;
    opacity: 1;
    place-items: center;
    position: relative;
    width: 40px;
}

.flickity-page-dots .dot:before {
    background-color: #dde1e6;
    content: '';
    display: grid;
    height: 4px;
    width: 100%;
}

.flickity-page-dots .is-selected:before {
    background-color: #d80e27;
}



/* Contact block */
.contact_block {background:#121619;padding:120px 0 0 0;}
.contact_block .wrapper {display:flex;flex-wrap:wrap;}
.contact_block .wrapper > h2 {color:#fff;min-width:100%;padding-bottom:80px;}
.contact_info {width:34%;color:#DDE1E6;display:flex;flex-flow:column wrap;padding-bottom:95px;}
.contact_info p {font:500 15px/20px 'Red Hat Display';text-transform:uppercase;padding-bottom:60px;}
.contact_info p strong {display:block;font:700 24px/28px 'Work Sans';text-transform:none;color:#fff;padding-top:8px;}
.contact_info p a, .contact_info p a:visited {color:#fff;}
.contact_info p a:hover {color:#DDE1E6;}
.contact_info div {flex:1;display:flex;align-items:flex-end;}
.contact_info div p {color:#697077;font:16px/26px 'Work Sans';text-transform:none;}
.contact_info div p a, .contact_info div p a:visited {color:#a2a9b0;}
.contact_info div p a:hover {color:#fff;}
.social_list {display:flex;font-size:0;line-height:0;}
.social_list li {padding:0 16px 16px 0;}
.social_list li a {display:block;width:30px;height:30px;background:url(/assets/images/blank.gif) center center no-repeat;}
.social_list li a[href*="facebook"] {background-image:url(/assets/images/icons/facebook.svg);}
.social_list li a[href*="instagram"] {background-image:url(/assets/images/icons/instagram.svg);}
.map {height:600px;background:url(/assets/images/demo/map.webp) center center/cover no-repeat;margin-top:-75px;}

/* Media Queries */
/* Tablets and mobiles */
@media only screen and (max-width: 1199px) {
    /* Concept about */
    .concept_about .wrapper > div:first-of-type {padding-left:0;}
}


/* Mobile portrait and landscape modes */
@media only screen and (max-width: 767px) {
    html {font-size:16px;line-height:26px;}
    h1 {font-size:48px;line-height:48px;padding-bottom:20px;}
    h2 {font-size:40px;line-height:40px;padding-bottom:30px;}
    h3 {font-size:28px;line-height:33px;padding-bottom:15px;}
    h4 {font-size:20px;line-height:27px;padding-bottom:30px;}
    h5 {font-size:18px;line-height:29px;}
    input[type="text"], input[type="email"], textarea, select {font-size:16px;height:47px;}
    textarea {height:180px;}
    .button, .button:visited {height:48px;min-width:213px;font-size:18px;}
    /* Header */
    html.active {overflow:hidden;}
    .header {padding:15px 0;}
    .header .logo {width:30px;height:48px;}
    .menu_trigger {display:block;}
    .header nav {position:fixed;top:0;right:100%;width:100%;height:100%;overflow:auto;background:#121619 url(/assets/images/icons/logo_stroke.svg) right -80px bottom 55px/164px auto no-repeat;padding:115px 20px 30px 20px;z-index:998;box-sizing:border-box;transition:transform ease-in-out .3s;}
    .header nav.active {transform:translateX(100%);}
    .header nav ul {display:block;padding-bottom:45px;}
    .header nav ul li {font:900 32px/42px 'Red Hat Display';padding-left:0;}
    .header nav .social_list {display:flex;padding-bottom:0;}
    .header nav .social_list li {font-size:0;line-height:0;}
    /* Welcome block */
    .welcome_block .wrapper {min-height:520px;}
    /* Concept about */
    .concept_about {padding:100px 0 20px 0;}
    .concept_about .wrapper {display:block;}
    .concept_about .wrapper > div:first-of-type {width:auto;padding-left:0;}
    .concept_about .wrapper > div:last-of-type {width:auto;padding-bottom:60px;}
    .concept_about .wrapper > div:last-of-type h2 {padding-top:30px;}
    .concept_about ul li {padding-bottom:20px;}
    .concept_about ul li:before {font-size:60px;line-height:60px;top:-15px;left:-40px;}
    .concept_about h4 {max-width:100%;}
    .concept_about .img {height:470px;}
    .concept_about .img:before {height:160px;width:100px;background-size:100% auto;}
    /* Offer quote */
    .offer_quote {padding:100px 0 80px 0;}
    .offer_quote blockquote {padding:80px 0 0 0;}
    .offer_quote blockquote p:not(:last-child) {font-size:20px;line-height:32px;padding-bottom:20px;}
    .offer_list {margin:10px 0 100px 0;}
    .offer_list > li {display:block;padding:25px 0;}
    .offer_list > li h3 {width:auto;padding-right:0;}
    .offer_list > li ul {width:auto;}
    .offer_list > li p {text-align:right;width:auto;font-size:14px;padding:15px 0 0 0;}
    .offer_list > li p span {display:inline;font-size:26px;line-height:26px;}
    .offer_list > li p strong {font-size:18px;}
    /* Contact block */
    .contact_block {padding-top:100px;}
    .contact_block .wrapper {display:block;}
    .contact_block .wrapper > h2 {padding-bottom:50px;}
    .contact_info {width:auto;display:block;padding-bottom:0;}
    .contact_info p {font-size:14px;line-height:19px;padding-bottom:40px;}
    .contact_info p strong {font-size:20px;line-height:23px;}
    .contact_info div {display:block;padding:20px 0;}
    .contact_info div p {font-size:15px;line-height:24px;}
    .contact_info div p a {margin-left:10px;}
    .contact_info div p br {display:none;}
    .map {height:480px;margin-top:-40px;}
}



.cContactForm {
    background-color: #fff;
    box-shadow: 0 0 50px rgb(0 0 0 / 0.12);
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    row-gap: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .cContactForm {
        padding: 50px 60px 30px 60px;
        width: 66%;
    }
}

.cContactForm__fieldset {
    border: 0;
    display: grid;
    margin: 0;
    padding: 0;
    row-gap: 5px;
}

.cContactForm__label {
    font-weight: 600;
}

.cContactForm__label > span {
    color: #d80e27;
}

.cContactForm__input {}

.cContactForm__select {}

.cContactForm__textarea {
    resize: vertical;
}

.cContactForm__submit {
    max-width: 140px;
}

.cContactForm__response {
    font-weight: 600;
    padding: 0;
}



.cImageComparison {
    --cImageComparisonHeight: 0px; /* NOTE: Will be set by JS. */
    --cImageComparisonWidth: 0px; /* NOTE: Will be set by JS. */
    display: grid;
    overflow: hidden;
    position: relative;
}

.cImageComparison__after,
.cImageComparison__before {
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.cImageComparison__before {
    left: 0;
    object-position: left;
    right: auto;
    z-index: 50;
}

.cImageComparison__after {
    left: auto;
    object-position: right;
    right: 0;
    z-index: 60;
}

.cImageComparison__after .oImg,
.cImageComparison__before .oImg {
    height: var(--cImageComparisonHeight);
    max-height: var(--cImageComparisonHeight);
    max-width: var(--cImageComparisonWidth);
    min-height: var(--cImageComparisonHeight);
    min-width: var(--cImageComparisonWidth);
    object-fit: cover;
    position: absolute;
    width: var(--cImageComparisonWidth);
}

.cImageComparison__before .oImg {
    object-position: left;
    left: 0;
}

.cImageComparison__after .oImg {
    object-position: right;
    right: 0;
}

.cImageComparison__thumb {
    background-color: transparent;
    background-image: url(/assets/images/icons/drag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px auto;
    border: 0;
    cursor: ew-resize;
    height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    z-index: 70;
}

.cImageComparison__thumb:after,
.cImageComparison__thumb:before {
    background: #fff;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 3px;
}

.cImageComparison__thumb:after {
    bottom: -100vh;
    top: 100%;
}

.cImageComparison__thumb:before {
    bottom: 100%;
    top: -100vh;
}



.cArticle {}

.cArticle h1,
.cArticle h2,
.cArticle h3,
.cArticle h4,
.cArticle h5,
.cArticle h6,
.cArticle p {
    font-size: unset;
    font: unset;
    line-height: unset;
    margin: 0;
    padding: 0;
    text-transform: unset;
}

.cArticle h1,
.cArticle h2,
.cArticle h3,
.cArticle h4,
.cArticle h5,
.cArticle h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-top: 1.3rem;
}

.cArticle h1,
.cArticle h2 {
    font-size: 2rem;
}

.cArticle h3 {
    font-size: 1.5rem;
}

.cArticle h4 {
    font-size: 1.1rem;
}

.cArticle h5,
.cArticle h6 {
    font-size: 1rem;
}

.cArticle p {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1.1rem;
}

.cArticle a {
    color: #d80e27;
}

.cArticle ul,
.cArticle ol,
.cArticle li {
    list-style: unset;
}

.cArticle ul,
.cArticle ol {
    margin-left: 2rem;
}

.cArticle > .wrapper > :first-child {
    margin-top: 0;
}


.cFooter {
    background-color: #121619;
    color: #a2a9b0;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .cFooter {
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

.cFooter > .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cFooter__copyright {
    color: #697077;
}

.cFooter__legal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cFooter__legal .oBtn {
    color: #a2a9b0;
}

.cFooter__legal .oBtn:focus,
.cFooter__legal .oBtn:hover {
    color: #fff;
}
